In [2]:
import pandas as pd

In [3]:
monthly_cz = pd.read_csv(r"C:\Etudes\EPFL\1ère\MA2\ML\PROJECT\data_raw\Predictors\Chen-Zimmerman data fed monthly.csv")

In [5]:
monthly_cz

,date,AbnormalAccruals,Accruals,AccrualsBM,Activism1,Activism2,AdExp,AgeIPO,AM,AnalystRevision,...,TotalAccruals,UpRecomm,VarCF,VolMkt,VolSD,VolumeTrend,XFIN,zerotrade,zerotradeAlt1,zerotradeAlt12
0,1926-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1926-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1926-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1926-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1926-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,2020-08-31,-3.145117,-1.604437,2.048601,NaN,NaN,7.862139,-1.815786,2.515001,NaN,...,-3.763807,NaN,2.609530,-1.267739,-2.375772,0.373736,3.959308,-1.551516,-0.949756,-2.541975
1136,2020-09-30,-2.207840,0.461254,-5.130091,NaN,NaN,-0.528377,-7.200930,-3.969100,NaN,...,-0.047044,NaN,-0.110223,1.887582,3.803164,0.026651,-3.198988,5.650907,5.859570,3.216683
1137,2020-10-30,-1.291792,1.730673,3.487634,NaN,NaN,2.181879,4.874075,6.984673,NaN,...,-1.682067,NaN,3.695704,0.984765,0.483887,0.915825,5.454187,-2.428297,-1.536819,-1.506133
1138,2020-11-30,5.001525,-0.354817,19.200947,NaN,NaN,13.136760,6.384038,7.367098,NaN,...,5.564698,NaN,-18.301015,-6.833705,-14.569020,-4.187991,-3.102113,-19.990192,-17.444645,-13.738672
1139,2020-12-31,-0.667450,0.903760,-2.871377,NaN,NaN,-1.070860,3.005377,1.474237,NaN,...,3.032103,NaN,-7.875887,-0.064919,-1.655320,-0.382739,-4.436085,0.748369,-0.014612,-1.771119